{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %}


{% block body %}
<!--<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>-->

<!--<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
</div>-->

<!--formulaire rechercher-->
<form class="rechercher" method="POST" action="{{ path('app_home') }}"><!--formulaire rechercher-->
    {{ form_start(form) }}
    {{ form_row(form.lieu_depart) }}
    {{ form_row(form.lieu_arrivee) }}
    {{ form_row(form.date_depart) }}
    <button id="btn_rechercher" type="submit">Rechercher</button>
    {{ form_end(form) }}
</form>
<br><br>
<div id="bloc-presentation">
<div class="image1">
    <img id="image1" src="presentation 1.jpg" alt="une route avec des arbres à gauche et à droite">
</div>

<div class="texte-presentation">
    <h2>Bienvenue chez EcoRide!</h2> 
    <br>
    <p>Chez EcoRide, nous nous engageons à révolutionner la mobilité en proposant une solution de covoiturage simple, rapide et éco-responsable. 
    Notre mission est de rendre les déplacements en voiture plus intelligents, plus écologiques et plus accessibles à tous.<br>
    <br>
    En nous choisissant, vous participez activement à la réduction de l'empreinte carbone, tout en optimisant vos trajets. 
    Que ce soit pour aller au travail, partir en week-end ou pour tout autre déplacement, notre plateforme vous connecte avec des conducteurs et 
    passagers proches de chez vous, prêts à partager leur trajet.<br>
    <br>
    Pourquoi choisir EcoRide ?<br>
    •	Économie : Partagez les frais de transport avec d'autres passagers et réduisez vos dépenses.<br>
    •	Écologie : Contribuez à diminuer le nombre de voitures sur les routes, réduisant ainsi les émissions de CO2.<br>
    •	Commodité : Trouvez facilement des trajets adaptés à vos horaires et à vos destinations.<br>
    •	Sécurité : Nous mettons un point d'honneur à garantir la sécurité de tous nos utilisateurs, avec un système de notation et des profils vérifiés.<br>
    <br>
    Rejoignez-nous et participez au mouvement vers une mobilité plus verte, plus partagée et plus responsable.<br>
    <br>
    EcoRide : Le covoiturage pour un futur durable.</p>
    <br>
</div>

<div class="image2">
    <img id="image2" src="presentation 2.jpg" alt="une voiture qui charge dans la forêt">
</div>
</div>
{% endblock %}









