{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/connexion.css') }}">
{% endblock %}

{% block body %}

<!--formulaire connexion-->
<form class="connexion" method="POST" action="{{ path('app_connexion') }}"><!--formulaire connexion-->
    {{ form_start(connexionForm) }}
    {{ form_row(connexionForm.email) }}
    {{ form_row(connexionForm.password) }}
    <button id="btn_connexion2" type="submit">Connexion</button>
    {{ form_end(connexionForm) }}
</form>

<br>
<h3> Créer un compte</h3>

<!--formulaire inscription-->
<form class="inscription" method="POST" action="{{ path('app_connexion') }}"><!--formulaire s'inscrire-->
    {{ form_start(inscriptionForm) }}
    {{ form_row(inscriptionForm.pseudo) }}
    {{ form_row(inscriptionForm.email) }}
    {{ form_row(inscriptionForm.password) }}
    <button id="btn_inscription" type="submit">S'inscrire</button>
    {{ form_end(inscriptionForm) }}
</form>
<br>
<br>

{% endblock %}
