{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/moncompte.css') }}">
{% endblock %}

{% block body %}


<h1>Mon compte</h1>

<h3>Mes informations</h3>
<div>
    <p><strong>Pseudo : </strong> {{app.user.pseudo}}</p>
    <p><strong>Téléphone : </strong> {{app.user.telephone ?? ''}}</p>
    <p><strong>Date de Naissance : </strong> {{app.user.date_naissance ?? ''}}</p>
    
    {% if app.user.photo %}
        <p><strong>Photo de profil :</strong></p>
        <img src="{{ asset('uploads/photos/' ~ app.user.photo) }}" alt="Photo de profil" width="150">
    {% else %}
        <p><strong>Photo de profil :</strong> Aucune photo</p>
    {% endif %}
    
    <a href="{{ path('modification')}}" class="infos">
            <button id="btn_modifier">Modifier</button>
    </a>
</div>

<h3>Choisir un rôle</h3>
<div class="role">
    <form class="roleMetier" method="POST" action="{{ path('moncompte') }}"><!--formulaire rechercher-->
        {{ form_start(roleMetierForm) }}
        {{ form_row(roleMetierForm) }}
        <button id="btn_valider" type="submit">Valider</button>
        {{ form_end(roleMetierForm) }}
    </form>
</div>

<h3>Liste des Véhicules</h3>
<div class="vehicule">
    <table> 
        <thead>
            <tr> 
                <th>Immatriculation</th> 
                <th>Date 1ère mise en circulation</th> 
                <th>Modèle</th> 
                <th>Couleur</th> 
                <th>Energie</th> 
                <th>Marque</th> 
            </tr> 
        </thead>
        <tbody>
            {% for voiture in voiture %} 
                <tr>
                    <td>{{ voiture.immatriculation }}</td> 
                    <td>{{ voiture.date_premiere_immatriculation }}</td>
                    <td>{{ voiture.modele }}</td>
                    <td>{{ voiture.couleur }}</td>
                    <td>{{ voiture.energie }}</td>
                    <td>
                        {% if voiture.marque %}
                            {{ voiture.marque.libelle}}
                        {% else %} 
                            Marque inconnue
                        {% endif %}
                            
                    </td>
                </tr>
                {% else %} 
                    <tr>
                        <td colspan="6">Aucun véhicule trouvé.</td> 
                    </tr>  
            {% endfor %} 
        </tbody>
    </table>
    <a href="{{ path('vehicule') }}">Ajouter un véhicule</a>
</div>
{% endblock %}