{% extends 'base.html.twig' %}

{% block title %}Ajouter des préférences{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/preferences.css') }}">
{% endblock %}

{% block body %}
<a class="retour" href="{{ path('app_utilisateur')}}">
  &#8592; Retour
</a>

<div>
    <h3>Ajouter des préférences</h3>
</div>

<form class="preferences" method="POST" action="{{ path('preferences') }}"><!--formulaire-->
    {{ form_start(preferenceForm) }}
    {{ form_row(preferenceForm.fumeur) }}
    {{ form_row(preferenceForm.animal) }}
    {{ form_row(preferenceForm.PreferenceSupplementaire) }}
    <button id="btn_proposer" type="submit">Proposer</button>
    {{ form_end(preferenceForm) }}
</form>
{% endblock %}