{% extends 'base.html.twig' %}

{% block title %}Proposer un Covoiturage{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/proposercovoiturage.css') }}">
{% endblock %}

{% block body %}

<div>
    <h3>Proposer un voyage</h3>
</div>

<form class="proposer" method="POST" action="{{ path('proposercovoiturage') }}"><!--formulaire-->
    {{ form_start(proposerForm) }}
    {{ form_row(proposerForm.date_depart) }}
    {{ form_row(proposerForm.heure_depart) }}
    {{ form_row(proposerForm.lieu_depart) }}
    {{ form_row(proposerForm.date_arrivee) }}
    {{ form_row(proposerForm.heure_arrivee) }}
    {{ form_row(proposerForm.lieu_arrivee) }}
    {{ form_row(proposerForm.nbre_place) }}
    {{ form_row(proposerForm.prix_personne) }}
    {{ form_row(proposerForm.voiture)}}
    <button id="btn_proposer" type="submit">Proposer</button>
    {{ form_end(proposerForm) }}
</form>
{% endblock %}