{% extends 'base.html.twig' %}

{% block title %}Proposer un Covoiturage{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/proposercovoiturage.css') }}">
{% endblock %}

{% block body %}
<form class="proposer" method="POST" action="{{ path('proposercovoiturage') }}"><!--formulaire rechercher-->
    {{ form_start(form) }}
    {{ form_row(form.date_depart) }}
    {{ form_row(form.heure_depart) }}
    {{ form_row(form.lieu_depart) }}
    {{ form_row(form.date_arrivee) }}
    {{ form_row(form.heure_arrivee) }}
    {{ form_row(form.lieu_arrivee) }}
    {{ form_row(form.nbre_place) }}
    {{ form_row(pris_personne) }}
    <button id="btn_proposer" type="submit">Proposer</button>
    {{ form_end(form) }}
</form>
{% endblock %}