{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/utilisateur.css') }}">
{% endblock %}

{% block body %}
<!--<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>-->

<!--<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1></div>-->
    <div>
        <a href="{{ path('moncompte') }}">Mon Compte</a> 
        <!--bouton Modifier pour accèder directement à /utilisateur/moncompte/modification-->
        <a href="{{ path('modification')}}">
            <button id="btn_modifier">Modifier</button>
        </a>
    </div>

    <div>
    <!--Partie role et préférences de l'utilisateur-->
    </div>

    <div>
        <a href="{{ path('proposercovoiturage') }}">Proposer un voyage</a>
    </div>

    <div>
        <h3>Historique des covoiturage</h3>
    </div>
{% endblock %}
