{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/utilisateur.css') }}">
{% endblock %}

{% block body %}

    <div class= "mon_compte">
        <a href="{{ path('moncompte') }}">Mon Compte</a> 
        <!--bouton Modifier pour accèder directement à /utilisateur/moncompte/modification-->
        <a href="{{ path('modification')}}">
            <button id="btn_modifier">Modifier</button>
        </a>
    </div>

    <div>
    <!--Partie role et préférences de l'utilisateur-->
    </div>
    <!--utilisation rolesMetier, pour lien n'apparaisse que si role chauffeur-->
    {% set rolesMetier = rolesMetier|default([]) %}
    {% if 1 in rolesMetier %}
        <div class= "proposer_covoiturage">
            <a href="{{ path('proposercovoiturage') }}">Proposer un voyage</a>
        </div>
    {% endif %}

    <div>
        <h3>Historique des covoiturage</h3>

        <ul class="covoiturage">
            {% for covoiturageWithParticipation in covoiturages %}
                {% set covoiturage = covoiturageWithParticipation.covoiturage %}
                {% set isUserParticipating = covoiturageWithParticipation.isUserParticipating %}
                <li>
                    <p>Trajet: {{ covoiturage.getLieuDepart ~ ' à ' ~ covoiturage.getLieuArrivee }}</p>
                    <p>Date de départ: {{ covoiturage.getDateDepart }}</p>
                    <p>Horaires : {{ covoiturage.getHeureDepart ~ ' - ' ~ covoiturage.getHeureArrivee }}</p>
                    <!--récupère voiture seulement si utilisateur = createur-->
                    {% if covoiturage.getCreateur() == app.user %}
                        <p>Véhicule: {{ covoiturage.getVoiture.getImmatriculation }}</p>
                    {% endif %}
                     <!--formulaire + bouton annuler pour chaque covoiturage dont la date n'est pas passée-->
                    {% if isUserParticipating %}
                        <form id="annulationForm_{{ covoiturage.getCovoiturageId() }}" method="post" action="{{ path('covoiturage_annuler', { 'covoiturage_id': covoiturage.getCovoiturageId() }) }}">
                            <input type="hidden" name="_token" value=" {{ csrf_token('annuler' ~ covoiturage.getCovoiturageId()) }}">
                            <button type="button" class="btn btn-annuler" onclick="confirmAnnulation({{ covoiturage.getCovoiturageId() }})">Annuler</button>
                        </form>
                {% endif %}
                </li>

            {% else %}
                <li>Aucun covoiturage.</li>
            {% endfor %}
        </ul>
    </div>

    <script>
        function confirmAnnulation(covoiturage_id) {
            if (confirm("Etes-vous sûr de vouloir annuler votre participation à ce covoiturage?")) {
                console.log("Confirmation acceptée pour le covoiturage ID:", covoiturage_id);
                document.getElementById('annulationForm_' + covoiturage_id).submit();
            } else {
                console.log("Confirmation refusée pour le covoiturage ID:", covoiturage_id);
            }
        }
    </script>

{% endblock %}
