{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/utilisateur.css') }}">
{% endblock %}

{% block body %}

    <div class= "mon_compte">
        <a href="{{ path('moncompte') }}">Mon Compte</a> 
        <!--bouton Modifier pour accèder directement à /utilisateur/moncompte/modification-->
        <a href="{{ path('modification')}}">
            <button id="btn_modifier">Modifier</button>
        </a>
    </div>

    <div>
    <!--Partie role et préférences de l'utilisateur-->
    </div>

    <div class= "proposer_covoiturage">
        <a href="{{ path('proposercovoiturage') }}">Proposer un voyage</a>
    </div>

    <div>
        <h3>Historique des covoiturage</h3>

        <ul class="covoiturage">
            {% for covoiturage in covoiturages %}
                <li>
                    <p>Trajet: {{ covoiturage.getLieuDepart ~ ' à ' ~ covoiturage.getLieuArrivee }}</p>
                    <p>Date de départ: {{ covoiturage.getDateDepart }}</p>
                    <!--récupère voiture seulement si utilisateur = createur-->
                    {% if covoiturage.getCreateur() == app.user %}
                        <p>Véhicule: {{ covoiturage.getVoiture.getImmatriculation }}</p>
                    {% endif %}
                </li>
            {% else %}
                <li>Aucun covoiturage.</li>
            {% endfor %}
</ul>

    </div>
{% endblock %}
