{% extends 'base.html.twig' %}

{% block title %}Ajouter un véhicule{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/vehicule.css') }}">
{% endblock %}

{% block body %}

<a class="retour" href="{{ path('moncompte')}}">
  &#8592; Retour
</a>

<div>
    <h3>Ajouter un véhicule</h3>
</div>

<form class="vehicule" method="POST" action="{{ path('vehicule') }}"><!--formulaire rechercher-->
    {{ form_start(vehiculeForm) }}
    {{ form_row(vehiculeForm.immatriculation) }}
    {{ form_row(vehiculeForm.date_premiere_immatriculation) }}
    {{ form_row(vehiculeForm.couleur) }}
    {{ form_row(vehiculeForm.energie) }}
    {{ form_row(vehiculeForm.marque) }}
    <button id="btn_ajouter" type="submit">Ajouter</button>
    {{ form_end(vehiculeForm) }}
</form>
{% endblock %}