{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}


{% block body %}

<h3>Contactez-nous</h3>
<!--formulaire contact-->
<div>
    <form class="contact" method="POST" action="{{ path('contact') }}">
        {{ form_start(contactForm) }}
        {{ form_row(contactForm.email) }}
        {{ form_row(contactForm.titre) }}
        {{ form_row(contactForm.message) }}
        <button id="btn_envoyer" type="submit">Envoyer</button>
        {{ form_end(contactForm) }}
    </form>
</div>

{% endblock %}
