{% extends 'base.html.twig' %}

{% block title %}Covoiturage{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/covoiturage.css') }}">
{% endblock %}

{% block body %}
<!--<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>-->

<!--<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>-->

<!--formulaire rechercher-->
<form class="rechercher" method="POST" action="{{ path('app_covoiturage') }}"><!--formulaire rechercher-->
    {{ form_start(form) }}
    {{ form_row(form.lieu_depart) }}
    {{ form_row(form.lieu_arrivee) }}
    {{ form_row(form.date_depart) }}
    <button id="btn_rechercher" type="submit">Rechercher</button>
    {{ form_end(form) }}
</form>

{% if results is defined %}
    <ul>
        {% for covoiturage in results %}
            <li>{{ covoiturage.lieu_depart }} -> {{ covoiturage.lieu_arrivee_arrivee }} ({ covoiturage.date_depart})</li>
        {% else %}
            <li>Aucun covoiturage trouvé pour ces critères.</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}