{% extends 'base.html.twig' %}

{% block title %}Covoiturage{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/covoiturage.css') }}">
{% endblock %}

{% block body %}

<!--formulaire rechercher-->
<form class="rechercher" method="POST" action="{{ path('app_covoiturage') }}"><!--formulaire rechercher-->
    {{ form_start(form) }}
    {{ form_row(form.lieu_depart) }}
    {{ form_row(form.lieu_arrivee) }}
    {{ form_row(form.date_depart) }}
    <button id="btn_rechercher" type="submit">Rechercher</button>
    {{ form_end(form) }}
</form>

{% if results is defined %}
    <ul class="result">
        {% for covoiturage in results %}
            <li>
                <div class="covoiturage">
                    {% set createur = covoiturage.getCreateur() %}
                    {% if createur.getPhoto() %}
                        <img class="photo" src="{{ asset('uploads/photos/' ~ createur.getPhoto()) }}" alt="Photo de Profil de l'utilisateur" width="50">
                    {% else %}
                        <img class="photo" src="{{ asset('uploads/photos/default.jpeg') }}" alt="Pas de photo" width="50">
                    {% endif %}
                    
                
                    <div class="details">
                        <p class="pseudo">{{ createur.getPseudo() }}</p>
                        <p>{{ covoiturage.getDateDepart() }} - {{ covoiturage.getHeureDepart() }}</p>
                        <p>{{ covoiturage.getDateArrivee() }} - {{ covoiturage.getHeureArrivee() }}</p>
                        <p class="place">Nombre de place disponible : {{ covoiturage.getNbrePlace() }}</p>
                        <p class="ecologique">Voyage écologique : {{ covoiturage.isVoyageEcologique() ? 'Oui' : 'Non' }}</p>
                        
                    </div>

                    <div class="prix_detail">
                    <p class="prix">{{ covoiturage.getPrixPersonne() }} Crédits</p>
                    <a id="lien_detail" href="{{ path('detail', { 'covoiturage_id': covoiturage.getCovoiturageId() }) }}">Détails</a>
                    </div>

                </div>
            </li>
        {% else %}
            <li>Aucun covoiturage trouvé pour ces critères.</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}