{% extends 'base.html.twig' %}

{% block title %}Détails du covoiturage{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/detail.css') }}">
{% endblock %}

{% block body %}


    <a class="retour" href="{{ path('app_covoiturage')}}">
         &#8592; Retour
    </a>

    <h1>Détails du Covoiturage</h1>

        <div class="detail">
            <div class="createur">
                {% set createur = covoiturage.getCreateur() %}
                {% if createur.getPhoto() %}
                    <img class="photo" src="{{ asset('uploads/photos/' ~ createur.getPhoto()) }}" alt="Photo de Profil de l'utilisateur" width="100">
                {% else %}
                    <img class="photo" src="{{ asset('uploads/photos/default.jpeg') }}" alt="Pas de photo" width="100">
                {% endif %}
                <p class="pseudo">{{ createur.getPseudo() }}</p>
            </div>
            <div class="infos">
                <p><strong>Départ :</strong> {{ covoiturage.getLieuDepart() }}</p>
                <p><strong>Arrivée :</strong> {{ covoiturage.getLieuArrivee() }}</p>
                <p><strong>Date de départ :</strong> {{ covoiturage.getDateDepart() }}</p>
                <p><strong>Heure de départ :</strong> {{ covoiturage.getHeureDepart() }}</p>
                <p><strong>Date d'arrivée' :</strong> {{ covoiturage.getDateArrivee() }}</p>
                <p><strong>Heure d'arrivée :</strong> {{ covoiturage.getHeureArrivee() }}</p>
                <p><strong>Voyage écologique :</strong> {{ covoiturage.isVoyageEcologique() ? 'Oui' : 'Non' }}</p>
                <p><strong>Marque et couleur de la voiture :</strong> {{ marque.getLibelle() }} ~ {{ voiture.getCouleur() }}</p>
                <p><strong>Nombre de places :</strong> {{ covoiturage.getNbrePlace() }}</p>
                <p><strong>Prix :</strong> {{ covoiturage.getPrixPersonne() }} Crédits</p>
            </div>
            <div>
            {% if preferences %}
                <h2>Préférences de l'utilisateur</h2>
                </br>
                <p>Fumeur : {{ preferencesForm.fumeur ? 'Oui' : 'Non' }}</p>
                <p>Animal : {{ preferencesForm.animal ? 'Oui' : 'Non' }}</p>
                <p>Préférences supplémentaires : {{ preferencesForm.preferencesSupplementaires }}</p>
            {% else %}
                <p>Pas de préférences définies pour cet utilisateur.</p>
            {% endif %}

            <div class="participer">
            <!--formulaire + bouton participer-->
                {% set rolesMetier = rolesMetier|default([]) %}
                <!--Affiche seulement si place dispo et utilisateur=role passager-->
                {% if covoiturage.getNbrePlace() > 0 and 2 in rolesMetier %}
                        <form id="participationForm" method="post" action="{{ path('covoiturage_participer', { 'covoiturage_id': covoiturage.getCovoiturageId() }) }}">
                            <button type="button" class="btn btn-success" onclick="confirmParticipation()">Participer</button>
                        </form>
                {% elseif covoiturage.getNbrePlace() <= 0 %} <!--si pas de place dispo-->
                    <p class="text-danger">Aucune place disponible</p>
                {% endif %}
            </div>
        </div>

    <!--confirmation participation en JS-->
    <script>
        function confirmParticipation() {
            if (confirm("Voulez-vous vraiment participer à ce covoiturage ?")) {
                document.getElementById('participationForm').submit();
            }
        }
    </script>
{% endblock %}